html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #ECECED;
}

.header-box {
    width: auto;
    height: 18.5vh;
    background: #70002A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Back-Arrow {
    height: 41.5vh;
    transform: translate(25vw, -2vh);
}

.Left-Curl {
    height: 49.3vh;
    transform: translate(5.3vw, 5.3vh);
}

.Logo {
    width: 7.8vw;
}

.Right-Curl {
    height: 49.3vh;
    transform: translate(-5.3vw, 5.3vh);
}

.Front-Arrow {
    width: 11.5vw;
    transform: translate(-25vw, -2vh);
}

.bodybody {
    padding: 3.7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-photo {
    width: 18.65vw;
}

.contact-form {
    flex: 1;
    display: grid;
    flex-direction: column;
    gap: 3.5vh;
}

.name-surname, .emaill {
    display: flex;
    gap: 4%;
}

.name-surname input, .emaill input {
    width: 48%;
}

.name, .surname, .email {
    height: 6vh;
    border-radius: 1vw;
    border: 0;
    font-size: 1.4vw;
}

.passwords {
    height: 6vh;
    width: 100%;
    border-radius: 1vw;
    border: 0;
    font-size: 1.4vw;
}

.right-photo {
    width: 18.65vw;
}

.footer-box {
    width: auto;
    height: 18.5vh;
    background: #70002A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.Contact {
    position: absolute;
    left: 2.87vh;
}

.contact1, .contact2, .contact3 {
    font-size: 3vh;
    color: #ACACAC;
}

.contact1 a, .contact2 a, .contact3 a {
    font-size: 2vh;
    color: #ACACAC;
}

.Center-Curl {
    height: 32.3vh;
}

.Copyright {
    height: 2.87vh;
    position: absolute;
    bottom: 2.87vh;
    right: 2.87vh;
}